<div class="about">
  <div class='block'>
    <div class='content'>
      <h2><b>Website's Information</b></h2>
      <p>
        This is personal website with some pages.
      </p>
    </div>
  </div>

  <div class='block'>
    <div class='content'>
      <h2><b>Contacts</b></h2>
      <p>
        <a href='https://github.com/litepas-me'>My GitHub</a> <br/>
        Mail: konakim51@gmail.com
      </p>
    </div>
  </div>

  <div class='block'>
    <div class='content'>
      <h2><b>F.A.Q.</b></h2>
      <p>
        There is nothing here.
      </p>
    </div>
  </div>
</div>
