.about {
  padding: 1em;

  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  grid-gap: 1em;

  .block {
    grid-column: auto;
    grid-row: 1;
    border-radius: 5px auto;
    -webkit-border-radius: 5px auto;
    -moz-border-radius: 5px auto;
    -ms-border-radius: 5px auto;
    -o-border-radius: 5px auto;

    border-style: solid;

    background-color: purple;
    border-color: darkmagenta;

    .content {
      margin: 1em;
    }
  }
}
